<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctorpatient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.doctorpatient.Register"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.doctorpatient.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>          
        </activity>
        <activity
            android:name="com.example.doctorpatient.Doctor"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.doctorpatient.DOCTOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>          
        </activity>
         <activity
            android:name="com.example.doctorpatient.detail"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.doctorpatient.DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>          
        </activity>
    </application>

</manifest>
